@font-face {
    font-family: zelda;
    src: url(zeldafont.woff);
  }

  body {
    background-color: #44355b;;
  }

img {
    display: block;
    max-width: 100%;
    height: auto;
  }
.hovedtittelen {
  font-family: zelda;
  font-size: 10rem;
}
