body {
  background-color: #44355b;
  margin:0 10% 0 10% ;
}

.container {
    display:flex;
}

.mini-grid {
    margin-left: 20px;
    width: 120px;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 5px;
  }
  
  .mini-grid div {
    height: 30px;
    width: 30px;
  }
  .grid {
    width: 300px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.05);
}

.tetromino {
  border-style: outset;
  border-radius: 3px;  
}

.grid div{
    height:30px;
    width:30px;
};

